.carousel-inner {
  height: 35rem;
}

.carousel-item {
  float: none;
  margin: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.carousel-item-next:not(.carousel-item-left),
.active.carousel-item-right {
  transform: translateX(0) translateY(100%);
}

.carousel-item-prev:not(.carousel-item-right),
.active.carousel-item-left {
  transform: translateX(0) translateY(-100%);
}
