.carousel-dark .carousel-control-prev-icon,
.carousel-dark .carousel-control-next-icon {
  filter: invert(1) grayscale(100);
}

.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: black;
}

.carousel-dark .carousel-caption {
  color: black;
}

.carousel-caption {
  display: flex;
  justify-content: center;
  position: static;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  bottom: auto;
  top: -1rem;
  transform: rotate(90deg);
  right: 0;
}
